{% extends "template.html" %}
{% block content %}

	<h1>Acknowledgement</h1>

	<p>We would like to express our sincere thanks to all the companies and individuals who have freely given their time to support our Careers Convention 2022.</p>

	<p>We would particularly like to thank <a href="/delegate/bournemouth-university">Bournemouth University</a> who helped to fund the delegates buffet this evening. </p>
	
	
	<div class="text-center"><a href="/delegate/bournemouth-university"><img src="/static/bournemouth-uni-thanks.png" style="width:120px;"></a></div>
	<p>Thank you to <a href="/delegates/">all the delegates</a>, it is all of their contributions that has made the event such a success.</p>

	<h3>Thank you</h3>

{% endblock %}
