{% extends "template.html" %}
{% block content %}
<h1>{{ title }}</h1>
<p>This page allows you to create, read, update or delete (CRUD) the <b>categories</b> used on this website.</p>
<p><strong><a href="./categories/0">Add a Category</a></strong></p>

{% for message in get_flashed_messages() %}
<p><em>{{ message }}</em></p>
{% endfor %}

<p><table width="100%">
    <tr><th>Name</th></tr>
    {% for row in rows %}
    <tr>
           <td><a href="./categories/{{row["id"]}}">{{row["name"]}}</a></td>
    </tr>
 {% endfor %}
</table></p>
<p>Go back to the <a href="./">admin home page</a>.</p>

{% endblock %}
