{% extends "template.html" %}
{% block content %}
<h1>{{ title }}</h1>
<form action="{{ request.path }}" id="formCategorySubmission" method="POST">
       <p><span>Name</span><br /><input type="text" size="64" name="name" placeholder="Enter a category name" id="name" value="{{ catName }}" /></p>
       <p><input type="hidden" name="id" value="{{ catPKID }}" /></p>
       <p><button type="submit">Save</button></p>
</form>
<p>&nbsp;</p>

{% if catPKID > 0 %}
<form action="{{ request.path }}/delete/" id="formCategoryDelete" method="POST">
       <p><input type="hidden" name="id" value="{{ catPKID }}" /></p>
       <p><button type="submit">Delete</button></p>
</form>
<p>&nbsp;</p>
{% endif %}

<p>Go back to the <a href="../categories">admin categories page</a>.</p>

<p>Go back to the <a href="../">admin home page</a>.</p>

{% endblock %}
