    {% extends "template.html" %}
    {% block content %}  
      <img src="/static/careers-logo.png" />

      <h1>Careers Convention</h1>
      <h2>Wednesday 16 March, 6pm – 8pm</h2>
      <p class="lead">We are delighted to welcome back to Parkstone Grammar School representatives of higher education, industry and commerce.<br /><br />We are very proud of the whole educational experience offered to our students and wish to capitalise on this with effective and relevant career planning.  Our careers advice and support is outstanding and as a school we continue with our strong commitment to ensure that we provide the best possible careers advice and information so that our students can make informed choices that are right for them in their next steps beyond Parkstone.  <a href="/about">Read more</a>...</p>

      <h2>Meet the Delegates</h2>
      <p class="lead">With {{ countDel }} delegates from different {{ countCat }} categrories, <a href="/delegates/">take a look</a> at the impressive list of organisations attending our careers convention. </p>

      <h2>Where is ????</h2>
      <p class="lead"><a href="/map">Click here</a> to view the location map showing where all <a href="/delegates/">delegates</a> are located.</p>

      <h2>Environmental Impact</h2>
      <p class="lead">Every year, we strive to make the Careers Convention as environmentally friendly as possible. <a href="/news">Read about our efforts</a> for the 2022 edition.</p>
      
      {% endblock %}
