
{% extends "template.html" %}
{% block content %}
	<h1>Latest News</h1>
	<p>I'm really excited to say that this year sees us continuing to make the Careers Convention as environmentally friendly as possible.</p>
	<p><table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">This year</th>
			<th scope="col">Previous year</th>
		  </tr>
		</thead>
		<tbody>
			<tr>
				<td>Careers Convention website</td>
				<td>350+ printed programmes</td>
			  </tr>
			  <tr>
				<td>No plastic water bottles purchased</td>
				<td>200+</td>
			  </tr>
			  <tr>
				<td>Purchased fabric tables clothes</td>
				<td>Two paper industry rolls</td>
			  </tr>
			  <tr>
				<td>New reusable lanyards</td>
				<td>Single-use name badges</td>
			  </tr>
		</tbody>
	  </table></p>
		
	<p>In addition, all the table numbering and signage have been reused from the past few years.</p>	
	<p>The Careers Convention website has been created and developed by our year 12 Computing students. This has saved the printing of hundreds of programmes that are recycled after the event.</p>
	<p>It will also mean that people can <a href="/feedback">leave feedback via the website</a>.</p>

	<h2>To companies unable to attend</h2>
	<p>Each year we try and ensure as much variety of delegates as possible. We invite many companies, some who are unable to attend for a number of reasons and some who just don`t respond to our request.</p>
	<p>Once again, this year we have faced the difficulty that companies have struggled to secure volunteers or to release staff due to the current uncertainty surrounding coronavirus.</p>
	<p>If you work for a company that is not represented and you think they would like to be next year please leave the details with the prefects at the door or email <a href="mailto:julia.wilkinson@parkstone.poole.sch.uk">julia.wilkinson@parkstone.poole.sch.uk</a></p> 
	<p>Many thanks.</p>
{% endblock %}
